version: '3.8'
services:
  db:
    image: postgres:15
    container_name: books_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: pwd123
      POSTGRES_DB: book_database
    ports:
      - '5432:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: always

volumes:
  pgdata:
